* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #4b4bc4;
    color: #222;
    line-height: 1.6;
}

/* HEADER */
header {
    background-color: hsl(240, 50%, 50%);
    color: white;
    text-align: center;
    padding: 30px 20px;
}

header h1 {
    margin-bottom: 10px;
}

header p {
    max-width: 600px;
    margin: auto;
}

/* NAVIGATION */
nav {
    margin-top: 20px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}
section {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
}

section h2 {
    background-color: #c8d9ea;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 15px;
    text-align: center;
}
.project-card {
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.project-card h3 {
    margin-bottom: 5px;
}
#contact a {
    color: #000;
    text-decoration: none;
}

#contact a:hover {
    text-decoration: underline;
}
footer {
    background-color: hsl(240, 50%, 50%);
    color: white;
    text-align: center;
    padding: 15px;
}
